# Secrets - service configs
**/src/main/resources/application.properties
**/src/main/resources/application.yml
.env

# Build folders
target/
node_modules/
dist/
build/

# IDE files
.classpath
.project
.settings/
.vscode/
.idea/
*.iml

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db